* {
    animation: fadeIn 1.5s;  
}
  
.cnt-presentacion {
    width: 50vw;
    height: 75vh;
    border-radius: 15%;
    border: 0px;
    overflow: hidden;
    animation: flicker 2s infinite alternate;  
    background: var(--dark-red);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.cnt-foto-presentacion {
    height: 20%;
    width: 100%;
    text-align: center;
}

.cnt-descripcion {
    width: 90%;
    height: 20%;
    color: var(--white);
}

.cnt-links {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.btn-back-presentacion {
    background: red;
    border: 0px;
    top: 10%;
    left: 10%;
    position: relative;
}

.links {
    height: 100%;
}

a {
    height: 100%;
}

img {
    height: 100%;
    border-radius: 25%;
}