* {
    animation: fadeIn 1.5s;  
  }

.cnt-presentacion {
    width: 50vw;
    height: 75vh;
    border-radius: 15%;
    border: 4px solid var(--red);
    overflow: hidden;
    animation: flicker 2s infinite alternate;  
    background: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.btn-back-presentacion {
    background: red;
    border: 0px;
    top: 10%;
    left: 10%;
    position: relative;
}

img {
    height: 25%;
    border-radius: 25%;
    border: 2px solid var(--light-red);
}

label {
    width: 60%;
    color: var(--red);
}