.cnt-presentacion {
    width: 50vw;
    height: 75vh;
    border-radius: 15%;
    border: 4px solid var(--red);
    overflow: hidden;
    animation: flicker 2s infinite alternate;  
    background: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.btn-back-presentacion {
    background: red;
    border: 0px;
    top: 10%;
    left: 10%;
    position: relative;
}

img {
    height: 25%;
    border-radius: 25%;
    border: 2px solid var(--light-red);
}

.img2 {
    background: var(--red);
    border-radius: 100%;
}

.lbl-presentacion {
    width: 60%;
    color: var(--red);
}

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        box-shadow:
        0 0 .5rem #fff,
        0 0 .5rem #fff,
        0 0 2rem var(--red),
        0 0 2rem var(--red),
        0 0 4rem var(--red),
        0 0 4rem var(--red)        
    }
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
  }
  