<app-nav-bar [ruta]="'Principal'"></app-nav-bar>
<div class="cnt-presentacion">
  <div class="cnt-foto-presentacion">
    <img src="../../../assets/imagenes/perfil.jpeg">
  </div>
  <div class="cnt-descripcion">
    mi nombre es lucas agustin hulej, tengo 21 y actualmente me encuentro cursando el ultimo cuatrimestre de la carreta tecnico en programacion superior en el utn. 
    mi juego es un completa la palabra, donde el jugador tiene hasta 5 intentos de adivinar que letra le falta a la palabra presentada.
  </div>
  <div class="cnt-links">
    <a href="https://github.com/lucashulej" target="_blank"><img class="links" src="../../../assets/imagenes/github.png"/></a>
    <a href="https://www.linkedin.com/in/lucas-agustin-hulej-23a307151/" target="_blank"><img class="links" src="../../../assets/imagenes/linkedin.png"/></a>  
  </div>
</div>