
  <img class='img2' routerLink="/Principal" src="../../../assets/imagenes/back.png">

<div class="cnt-presentacion">
  <img src="../../../assets/imagenes/perfil.jpeg">
  <label class="lbl-presentacion">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ut maxime doloremque quos sapiente velit enim repellat optio eos quae aliquid, culpa sequi veniam tenetur porro eligendi. Tempora, mollitia voluptatum.
  </label>
  <label class="lbl-presentacion">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ut maxime doloremque quos sapiente velit enim repellat optio eos quae aliquid, culpa sequi veniam tenetur porro eligendi. Tempora, mollitia voluptatum.
  </label>
</div>