<app-nav-bar [ruta]="'Principal'"></app-nav-bar>
<div class="cnt-resultados">
    <table>
        <tbody>
            <tr>
                <td class="main-td">juego</td>
                <td class="main-td">jugador</td>
                <td class="main-td">gano</td>
                <td class="main-td">perdio</td>
            </tr>
            <tr *ngFor="let juego of listaJuegos">
                <td>{{juego.juego}}</td>
                <td>{{juego.email}}</td>
                <td>{{juego.gano}}</td>
                <td>{{juego.perdio}}</td>
            </tr>
        </tbody>
    </table>
</div>