* {
    animation: fadeIn 1.5s;  
}

.cnt-principal {
    width: 50vw;
    height: 75vh;
    border-radius: 15%;
    background: var(--light-blue);
    border: 4px solid var(--light-blue);
    overflow: hidden;
    animation: flicker 2s infinite alternate; 
}

label {
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light-blue);
    color: var(--dark-blue);
    margin: 0;
    font-size: 2rem;
}

button {
    width: 50%;
    height: 40%;
    border: 0px;
    background: var(--red);
}

button:hover {
    background: var(--light-blue); 
}

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        box-shadow:
        0 0 .5rem #fff,
        0 0 .5rem #fff,
        0 0 2rem var(--light-blue),
        0 0 2rem var(--light-blue),
        0 0 4rem var(--light-blue),
        0 0 4rem var(--light-blue)        
    }
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}