* {
    animation: fadeIn 1.5s;  
}

.cnt-principal {
    width: 50vw;
    height: 75vh;
    border-radius: 15%;
    background: transparent;
    border: 0px;
    overflow: hidden;
    animation: flicker 2s infinite alternate; 
}

label {
    width: 100%;
    height: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--red);
    color: var(--dark-red);
    margin: 0;
    font-size: 2rem;
}

button {
    width: 50%;
    height: 40%;
    border: 0px;
    background: var(--dark-red);
}

button:hover {
    opacity:0.8;
}