<app-nav-bar [ruta]="'/Login'" [presentacion]="true"></app-nav-bar>
<div class="cnt-principal">
  <button class="btn-principal-juegos" routerLink="/Juegos">
    <img src="../../../assets/imagenes/saladejuegos.png">
  </button>
  <button class="btn-principal-listado" routerLink="/Listado">
    <img src="../../../assets/imagenes/listado.png">
  </button>       
  <label>Menu Principal</label>   
  <button class="btn-principal-configuracion" routerLink="/Juegos">
   <img src="../../../assets/imagenes/engranajes.png">
  </button>   
  <button class="btn-principal-jugadores" routerLink="/Jugadores">
    <img src="../../../assets/imagenes/jugadores.png">
  </button> 
</div>