<app-nav-bar [ruta]="'Principal'"></app-nav-bar>
<div class="cnt-juegos">
  <button class="btn-red" (click)="cambiarPagina('/Juegos/PiedraPapelTijera')">
    <label class="lbl-juego">piedra papel o tijera</label>
    <img src="../../../assets/imagenes/juegos/piedra_papel_tijeras.png">
  </button>
  <button class="btn-blue" (click)="cambiarPagina('/Juegos/Adivina')">
    <label class="lbl-juego">adivina el numero</label>
    <img src="../../../assets/imagenes/juegos/adivina.png">
  </button>
  <button class="btn-red" (click)="cambiarPagina('/Juegos/Agilidad')">
    <label class="lbl-juego">agilidad aritmetica</label>
    <img src="../../../assets/imagenes/juegos/agilidad.png">
  </button>
  <label class="lbl-juegos">Juegos</label>
  <button class="btn-blue" (click)="cambiarPagina('/Juegos/Adivina')">
    <label class="lbl-juego">memotets</label>
    <img src="../../../assets/imagenes/juegos/cerebro.png">
  </button>
  <button class="btn-red" (click)="cambiarPagina('/Juegos/TaTeTi')">
    <label class="lbl-juego">ta-te-ti</label>
    <img src="../../../assets/imagenes/juegos/tateti.png">
  </button>
  <button class="btn-blue" (click)="cambiarPagina('/Juegos/Anagrama')">
    <label class="lbl-juego">anagrama</label>
    <img src="../../../assets/imagenes/juegos/anagrama.png">
  </button>
</div>