* {
  animation: fadeIn 1.5s;  
}

.cnt-juegos {
  width: 50vw;
  height: 75vh;
  border-radius: 15%;
  background: var(--light-blue);
  border: 4px solid var(--red);
  overflow: hidden;
  animation: flicker 2s infinite alternate;  
}

label {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--red);
  margin: 0;
}

.lbl-juegos {
  height: 20%;
  font-size: 2rem;
  background: var(--dark-blue);
  color: var(--red);
}

.lbl-juego {
  height: 50%;
  font-size: 1rem;
  color: var(--red);
}

img {
  height: 50%;
}

.div-juegos {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

button {
  width: 33.33%;
  height: 40%;
  border: 0px;
  background: var(--white);
}

button:hover {
  background: var(--light-blue);
}