<img class='back' routerLink="/" src="../../../assets/imagenes/back.png">
<div class="cnt-registro">
  <form>
      <label class="lbl-title-registro">REGISTRO</label>
      <div class="lbl-cnt-registro">
        <label><b>Usuario</b></label>
        <input type="text"  name="uname" required>
      </div>
      <div class="lbl-cnt-registro">
        <label><b>Clave</b></label>
        <input type="password" name="psw" required>
      </div>
      <div class="lbl-cnt-registro">
        <label><b>Repita Clave</b></label>
        <input type="password" name="psw" required>
      </div>
      <div class="btn-cnt-registro">
        <button type="button">Registrar</button>
      </div>
  </form>
</div>
