<app-nav-bar [ruta]="'Juegos'"></app-nav-bar>
<div class="cnt-adivina">
  <label class="lbl-adivina">adivina el numero</label>
  <div class="cnt-juego-adivina">
    <input *ngIf="comenzar" type="number" value="0" [(ngModel)]="nuevoJuego.numeroIngresado" min="0" max="100">
    <h2 *ngIf="comenzar">{{nuevoJuego.numeroIngresado}}</h2>
    <h2 *ngIf="mostrarMensaje">{{mensaje}}</h2>
    <button *ngIf="comenzar && !mostrarMensaje" type="button" (click)="verificar()">Verificar</button>
    <button *ngIf="!comenzar" type="button" (click)="comenzarJuego()">Comenzar</button>
  </div>
</div>