* {
    animation: fadeIn 1.5s;  
}

.cnt-login {
    width: 50vw;
    height: 75vh;
    background: var(--dark-red);
    border: 0px;
    border-radius: 15%;
    animation: flicker 2s infinite alternate;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.lbl-title-login {
    width: 50%;
    font-size: 3rem;
    border: 0px;
}

.lbl-cnt-login {
    width: 100%;
    display: flex;
    align-items: center;    
    flex-direction: column;
}

.btn-cnt-login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

label {
    color: var(--red);
    text-align: center;
}

input {
    border: 0px;
    border-bottom: 2px solid var(--red);
    width: 50%;
    text-align: center;
    color: var(--white);
    background: transparent;
}

button {
    width: 30%;
    border: 2px solid var(--red);
    color: var(--red);
    background: transparent;
}

button:active {
    border-bottom: 4px solid transparent;
    border-bottom-color:  rgba(0, 0, 0, 0.300);
    border-right: 4px solid transparent;
    border-right-color:  rgba(0, 0, 0, 0.300);
    transform: translateY(4px);
}

