<app-nav-bar></app-nav-bar>
<div class="cnt-login">
  <form>
      <label class="lbl-title-login">LOGIN</label>
      <div class="lbl-cnt-login">
        <label><b>Usuario</b></label>
        <input type="text" [(ngModel)]="email" name="usuario" required>
      </div>
      <div class="lbl-cnt-login">
        <label><b>Clave</b></label>
        <input type="password" [(ngModel)]="clave" name="clave" required>
      </div>
      <label *ngIf="mostrarError">{{mensajeError}}</label>
      <div class="btn-cnt-login">
        <button type="button" (click)="Entrar()">Ingresar</button>
        <button type="button" (click)="Cargar()">Cargar Usuario</button>
        <button type="button" (click)="Registrarse()">Registrarse</button>
      </div>
  </form>
</div>