<app-nav-bar [ruta]="'Juegos'"></app-nav-bar>
<div class="cnt-agilidad">
  <label class="lbl-agilidad">agilidad aritetica</label>
  <div class="cnt-juego-agilidad">
    <h2 *ngIf="comenzar">{{numeroA}} {{operador}} {{numeroB}}</h2>
    <h2 *ngIf="comenzar">{{tiempo}}</h2>
    <h2 *ngIf="mostrarMensaje">{{mensaje}}</h2>
    <input *ngIf="comenzar" type="number" placeholder="resultado" [(ngModel)]="nuevoJuego.numeroIngresado">
    <button *ngIf="comenzar" type="button" (click)="verificar()">verificar</button>
    <button *ngIf="!comenzar && !mostrarMensaje" type="button" (click)="comenzarJuego()">comenzar</button>
  </div>
</div>