* {
    font-family: "Neon";
    outline: none;
}

body{
    margin: 0;
    padding: 0;
    background: url('./assets/imagenes/fondo.jpg');
    background-size: 100vw 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    --red: #ff2a6d;
    --white: #d1f7ff;
    --light-blue: #05d9e8;
    --dark-blue: #01012b;
    --purple: #BE60BF;
    --dark-red: #730237;
}

@font-face{
    font-family: "Neon";
    src: url("./assets/fonts/NEONCLUBMUSIC.otf");
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        box-shadow:
        0 0 .5rem #fff,
        0 0 .5rem #fff,
        0 0 2rem var(--purple),
        0 0 2rem var(--purple),
        0 0 4rem var(--purple),
        0 0 4rem var(--purple)        
    }
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}