* {
    animation: fadeIn 1.5s;  
}
  
.cnt-ppt {
    width: 50vw;
    height: 75vh;
    border-radius: 15%;
    background: var(--dark-red);
    border: 0px;
    overflow: hidden;
    animation: flicker 2s infinite alternate;  
}
  
.lbl-ppt {
    top: 0%;
    height: 20%;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: var(--red);
}
  
.cnt-juego-ppt {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

button {
    width: 30%;
    border: 2px solid var(--red);
    color: var(--red);
    background: transparent;
}

.cnt-jugadas-ppt , .cnt-resultados-ppt {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.piedra , .papel , .tijera {
    height: 100%;
    width: 20%;
    background-color: transparent;
    border: 0px;
    background-size: 100% 100%;
    border-radius: 20%;
}

.piedra:hover , .papel:hover , .tijera:hover {
    background-color: var(--red);
}

.piedra {
    background-image: url("../../../assets/imagenes/piedra.png");
}

.papel {
    background-image: url("../../../assets/imagenes/papel.png");
}

.tijera {
    background-image: url("../../../assets/imagenes/tijera.png");
}

.jugador , .cpu {
    height: 100%;
    width: 20%;

    color: red;
    font-size: 1rem;
    text-align: center;
    border-radius: 20%;
}

.fondoPiedra {
    background-image: url("../../../assets/imagenes/piedra.png");
    background-size: 100% 100%
}

.fondoPapel {
    background-image: url("../../../assets/imagenes/papel.png");
    background-size: 100% 100%
}

.fondoTijera {
    background-image: url("../../../assets/imagenes/tijera.png");
    background-size: 100% 100%
}

.fondoSpinner {
    background-image: url("../../../assets/imagenes/spinner.svg");
    background-size: 100% 100%;
}

h2 {
    color: var(--red);
}