.cnt-jugadores {
    position: relative;
    width: 50vw;
    height: 75vh;
    border-radius: 15%;
    background: var(--dark-red);
    border: 0px;
    overflow: hidden;
    animation: flicker 2s infinite alternate;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}

.cnt-tabla-jugadores {
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
    overflow-y: scroll;
}

table {
    height: 100%;
    width: 100%;
    color: var(--white);
    text-align: center;
}

td {
    border: 1px solid var(--white);
}

.main-td {
    background-color: var(--red);
}
